.cart {
    text-decoration: underline;
    font-size: larger;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.total_amount {
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size:x-large;
    color: white;
    height: 3rem;
    background-color: rgb(38, 38, 38);
    padding-top: 6px;
}

.total_amount button {
    font-size: 1rem;
    font-weight: bold;
    margin-block-end: 5px;
}