.header {
   text-align: center;
   background-color: #777;
   box-sizing: border-box;
   color: white;
}

.header h1 {
   font-size: 100px;
}

.navbar {
   margin-block-end: 1px;
}

.icon {
   width: 1.35rem;
   height: 1.35rem;
   margin-right: 0.5rem;
 }
 
 .badge {
   background-color: black;
   padding: 0.25rem 1rem;
   border-radius: 25px;
   margin-left: 1rem;
   font-weight: bold;
 }