.details {
    text-align: center;
}

.header {
    background-color: #777;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 1px;
    margin-bottom: 1rem;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.details img {
    width: 40rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.reviews {
    text-align:justify;
}

.reviews h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.reviews h5 {
   margin-block-start: 2rem;
}


